<div>
    <h2>Counter Component</h2>
    <p>Current Count: {{ count() }}</p>
    <p>Current Count: {{ count() * 2 }}</p>
    <span>Is even: {{ isEven() ? 'Yes' : 'No' }}</span>
    <button @click="increment()">Increment</button>
    <p>My name is {{ name() }} {{ name() }} {{ name() }} {{ name() }} <span>This still works {{ name() }}</span> so... {{ name() }}</p>
    <input type="text" @model="name" />
    <input type="text" @model="name" />
    <button @click="send($event)">Send</button>
    <button @click="name.set(name() +'-ing')">Add -ing</button>
</div>